body{
    font-family: sans-serif,'微軟正黑體' ;
}
.header{
    display: inline-block;
    width: 15%;
    height: 100vh;
    background: #ffbc2e;
    color: white;
}
.top{
    padding-left: 10%;
    padding-top: 30%;
    font-weight: 600;
    font-size: 68px;
}
.bottom{
    position: absolute;
    bottom: 10%;
    padding-left: 2%;
    font-size: 26px;
}
.line{
    height: 55vh;
    border-left:white solid 8px;
    margin-top: 50%;
    margin-left: 20%;
}

.type{
    padding-top: 20%;
    font-weight: 600;
}
.type:hover{
    padding-top: 20%;
    color: black;
}
.content{
    display: inline-block;
    width: 75%;
}
.box{
    background: #262d5a;
    color: white;
    font-size: 20px;
    width: 35%;
    margin: 0px auto;
    position: absolute;
    top: 30%;
    left: 38%;
    padding: 2%;
    line-height: 28px;
}
.name{
    display: inline-block;
    border: #ffbc2e solid 1px;
    padding: 1.5%;
    padding-left:3%;
    padding-right:3%;
    margin-right: 3%;
}
.name:hover{
    display: inline-block;
    border: #ffbc2e solid 1px;
    padding: 1.5%;
    padding-left:3%;
    padding-right:3%;
    margin-right: 3%;
    background: #ffbc2e;
    color: white;
}
.title{
    padding-bottom: 4%; 
}
.food{
    border: #ffbc2e solid 1px;
    background: none;
    padding: 2%;
    color: white;
    font-size: 18px;
}
.say{
    border-bottom: #ffbc2e solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    padding: 1.5%;
    width: 50%;
    color: white;
    font-size: 18px;
}
.start{
    background: #ffbc2e;
    float: right;
    padding: 2%;
    width: 30%;
    text-align: center;
    font-weight: bold;
}
.start:hover{
    background: #ffbc2e;
    float: right;
    padding: 2%;
    width: 30%;
    text-align: center;
    font-weight: bold;
    color: black;
}
/* index2 */
.content2{
    position: absolute;
    top: 0%;
    display: inline-block;
    background: #262d5a;
    width: 85%;
    height: 100vh;
}
.hot{
    display: inline-block; 
    color:white;
    padding: 4%;
    font-size: 36px;
    font-weight:bold; 
}
.add_new{
    display: inline-block; 
    color:white;
    padding: 4%;
    font-size: 20px;
    /* font-weight:bold;  */
}
.row{
    margin: 0 auto;
    color: white;
    padding-left: 4%;
    margin-bottom: 2%;
}
.class{
    color: white;
    font-size: 24px;
    padding-bottom: 1%;
}
.block{
    display: inline-block;
    width: 25vh;
    height: 20vh;
    background: #ffbc2e;
    margin-right: 3%;
}
.group_name{
    margin: 0 auto;
    width: 80%;
    padding-top: 32%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 24px;
}
.group_name:hover{
    margin: 0 auto;
    width: 80%;
    padding-top: 32%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 24px;
    color: black;
}
.counts{
    padding-top: 25%;
    padding-right: 5%;
    float: right;
}
